.row .col.s12 {
    width: 100% !important;

}

.row {
    width: 25%;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

#feed-container .row {
    margin-top: 10px;
}
.card-title {
    color: #111 !important;
}

.card-action a{
    background-color: #ee6e73 !important;
    height: 30px !important;
    text-align: center;
    width: 90px;
    margin: auto;
    display: block;
}

.card-content{
    padding: 0 !important;
    padding-top: 6px !important;
    text-align: center;
    font-size: 18px;
}

.card-image img{
    margin: auto;
    display: block;
    -o-object-fit: contain;
    object-fit: contain;
    max-width: 300px !important;
    width: auto;
    height: auto;
}